body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.heading {
  width: 100%;

  font-size: 30px;
  margin-left: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: skyblue;
  border-color: skyblue;
}


.message-box {
/*  border-style: solid;
  border-width: 1px;*/
  margin-left: 200px;
  width: 100%;
  position: fixed;
  bottom: 0;
  
}

#chatarea {
  margin-top: 55px;
  margin-bottom: 60px;

}

.message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.message i {
  font-size: 10px;
}

.timestamp {
  float: right;
}

#displayname {
  color: blue;
}