<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Flack :: {{ displayname }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script id="message" type="text/x-handlebars-template">
    	<div class="message">
    		<span id="displayname">{% raw -%}{{ displayname }} {%- endraw %}</span>
    		<span> :
    		 {% raw -%}
    			{{ message }}
    		 {%- endraw %}
    		</span>
    		<span id="timestamp">
    			<i>{% raw -%} {{ time }} {%- endraw %} </i>
    		</span>
    	</div>
    	
    </script>
    <script id="channel-list" type="text/x-handlebars-template">
    	<a href="">{% raw -%} {{channel}} {%- endraw %}</a>
    </script>


    <script>
    	

    	
    	start = 0;
    	end = 100;
    	document.addEventListener('DOMContentLoaded', () => {
    		loadchannels();
	    	document.querySelector('#sendmessage').onclick = () => {
	    		
	    		const n = {{displayname}};
	    		const d = document.querySelector('[name="message"]').value;
	    		const t = timeStamp();
	    		message(n,d,t);

	    		window.scrollBy(0, document.body.offsetHeight);



	    	}
    		document.querySelector('#channel-btn').onclick = () => {
	    		const channel = document.querySelector('[name="newchannel"]').value;
	    		const request = new XMLHttpRequest();
	    		request.open('GET', '/newchannel');
	    		request.onload = () => {
	    			const response = request.responseText;
	    			response.forEach(updatechannel);
	    		}
	    		const data = new FormData();
	    		data.append('channel', channel);
	    		request.send(data);

	    		
    		}

	    


    		function updatechannel(contents) {
    			const a = document.createElement('a');
    			a.setAttribute('href', " ");
    			a.innerHTML = contents;
    			document.querySelector('.channel-list').append(a);	
    		}

    		
	    	function loadchannels() {
	    		const request = new XMLHttpRequest();
	    		request.open('GET', '/channellists');
	    		request.onload = () => {
	    			const response = JSON.parse(request.responseText);
	    			response.forEach(channel);
	    		}

	    		const data = new FormData();
	    		request.send(data);
	    	}




			function timeStamp() {
	    		var d = new Date();
	    		var n = d.toLocaleTimeString();
	    		return n;
			}

			const msg_template = Handlebars.compile(document.querySelector('#message').innerHTML);
	    	function message(displayname,message,time) {
	    		const msg = msg_template({'displayname': displayname, 'message': message, 'time': time});
	    		document.querySelector('#chatarea').innerHTML += msg;
	    	}

	    	const channel_template = Handlebars.compile(document.querySelector('#channel-list').innerHTML);
	    	function channel(channel) {
	    		const ch = channel_template({'channel': channel});
	    		document.querySelector('.channel-list').innerHTML += ch;
	    	}


	    	
	    });



    </script>


</head>
<body>
	<header class="heading">Hello</header>
	<div class="sidenav">
		<div class="channel-list">
			
		</div>
		<input type="text" name="newchannel"><br>
		<button id="channel-btn">Create your own Channel</button>
	</div>


	<div class="main">
		
		<div id="chatarea">
			
			
		</div>

	</div>
	<div class="message-box">
	
		<input type="text" name="message"><button id="sendmessage">Send</button>
		
	</div>

</body>
</html>