<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Flack : {{displayname}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script id="channel-list" type="text/x-handlebars-template">
    	<button id="buttons" data-channel="{% raw -%} {{channel}} {%- endraw %}" class="list">{% raw -%} {{channel}} {%- endraw %}</button>
    </script>
	<script id="message" type="text/x-handlebars-template">
    	<div class="message">
    		<span id="displayname">{% raw -%}{{ displayname }} {%- endraw %}</span>
    		<span> :
    		 {% raw -%}
    			{{ message }}
    		 {%- endraw %}
    		</span>
    		<img></img>
    		<img src="{% raw -%} {{source}} {%- endraw %}", height="60", width="60">
    		<span id="timestamp">
    			<i>{% raw -%} {{ time }} {%- endraw %} </i>
    		</span>

    	</div>
    	
    </script>
	<script id="entered_message" type="text/x-handlebars-template">
    	<div class="message">
    		<span id="displayname">{% raw -%}{{ displayname }} {%- endraw %}</span>
    		<span> :
    		 {% raw -%}
    			{{ message }}
    		 {%- endraw %}
    		</span>
    		<img src="{% raw -%} {{source}} {%- endraw %}", height="60", width="60">
    		<span id="timestamp">
    			<i>{% raw -%} {{ time }} {%- endraw %} </i>
    		</span>
    		
    	</div>
    	
    </script>    
    <script src="{{ url_for('static', filename='chat.js')}}"></script>

</head>

<body>
	<meta id="displayname" data-displayname="{{displayname}}">
	<header class="heading">Flack :: Connect with people with similar interests.</header>
	<div class="sidenav">
		<div class="channel-list">	
		</div>
		<input type="text" name="newchannel"><br><span class="validation"></span><br>
		<button id="channel-btn">Create your own Channel</button>
		<div class="user-list">
		</div>
		<div class="logout-btn">
			<a id="logout" href="{{ url_for('logout')}}">Logout</a>
		</div>
	</div>

	<div class="main">
		
		<div id="chatarea">
		</div>

	</div>
	
	<div class="message-box">
	
		<input type="text" name="message"><input type="file" id="attachment"><button id="sendmessage">Send</button>
		
	</div>

</body>
</html>