<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Flack : {{displayname}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script id="channel-list" type="text/x-handlebars-template">
    	<button id="buttons" data-channel="{% raw -%} {{channel}} {%- endraw %}" class="list">{% raw -%} {{channel}} {%- endraw %}</button>
    </script>
	<script id="message" type="text/x-handlebars-template">
    	<div class="message">
    		<span id="displayname">{% raw -%}{{ displayname }} {%- endraw %}</span>
    		<span> :
    		 {% raw -%}
    			{{ message }}
    		 {%- endraw %}
    		</span>
    		<span id="timestamp">
    			<i>{% raw -%} {{ time }} {%- endraw %} </i>
    		</span>
    	</div>
    	
    </script>
    <script>
    	document.addEventListener('DOMContentLoaded', () => {
	   		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

	   		socket.on('connect', () => {
	   			document.querySelector('#channel-btn').onclick = () => {
	   				const newchannel = document.querySelector('[name="newchannel"]').value;
		   			if (newchannel.length > 0) {
		   				socket.emit('addchannel', {'newchannel': newchannel});
		   			}
	   			}



	   		});	

   			document.querySelector('#sendmessage').onclick = () => {
				const channel = localStorage.getItem('channel')
	    		const name = document.querySelector('#displayname').getAttribute('data-displayname');
	    		const msg = document.querySelector('[name="message"]').value;
	    		const time = timeStamp();
	    		//message(n,d,t);
	    		socket.emit('updatemessage', {'channel':channel, 'name':name, 'msg':msg, 'time':time});
	    	}


   			document.addEventListener('click', event => {
   				const element = event.target;
   				if (element.className === 'list'){
   					channel = element.getAttribute('data-channel');
   					document.querySelector('#chatarea').innerHTML = "";
   					socket.emit('loadmessage', {'channel': channel});
   					localStorage.setItem('channel', channel);
   				}
   			});

	   		

	   		socket.on('response', data => {
	   			for(i = 0; i < data.length; i++) {
	   				channel(data[i]);
	   			}
	   		});

	   		socket.on('message loader', data => {
	   			document.querySelector('#chatarea').innerHTML = "";
	   			for (i = 0; i < data.length; i++) {
	   				msg_details = data[i];
	   				const user = msg_details[0];
	   				const msg = msg_details[1];
	   				const time = msg_details[2];
	   				message(user,msg,time);
	   			}

	   		});

	    	const channel_template = Handlebars.compile(document.querySelector('#channel-list').innerHTML);
	    	function channel(channel) {
	    		const ch = channel_template({'channel': channel});
	    		document.querySelector('.channel-list').innerHTML += ch;
	    	}

	    	function timeStamp() {
	    		var d = new Date();
	    		var n = d.toLocaleTimeString();
	    		return n;
			}

			const msg_template = Handlebars.compile(document.querySelector('#message').innerHTML);
	    	function message(displayname,message,time) {
	    		const msg = msg_template({'displayname': displayname, 'message': message, 'time': time});
	    		document.querySelector('#chatarea').innerHTML += msg;
	    	}



    	});


    	


    </script>
</head>

<body>
	<meta id="displayname" data-displayname="{{displayname}}">
	<header class="heading">Hello</header>
	<div class="sidenav">
		<div class="channel-list">	
		</div>
		<input type="text" name="newchannel"><br>
		<button id="channel-btn">Create your own Channel</button>
	</div>

	<div class="main">
		
		<div id="chatarea">
		</div>

	</div>
	
	<div class="message-box">
	
		<input type="text" name="message"><button id="sendmessage">Send</button>
		
	</div>

</body>
</html>